// Main
.main-container
{
  display: flex;
  width: 100%;

  .mobile-list-container,
  .mobile-incident-list-container
  {
    display: none;
  }

  .list-container
  {
    width: 24%;

    .list-header
    {
      display: flex;
      justify-content: center;
      padding: 0px 15px;
    }

    .incident-list
    {
      height: 80vh;
      overflow-y: auto;
    }
  }

  .map-container
  {
    width: 75%;

    #map
    {
      height: 95vh;
      wdith: 100%;
    }
  }
}

// Media Queries
@media screen and (max-width: 1350px)
{
  .list-header
  {
    width: 100%;

    h3
    {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1100px)
{
  .main-container
  {
    width: 100%;

    .list-container
    {
      width: 34%;
    }

    .map-container
    {
      width: 65%;
    }
  }
}

// Mobile Screen - iPhone X
@media screen and (max-width: 812px)
{
  .main-container
  {
    display: block;
    width: 100%;

    .mobile-list-container
    {
      display: block;
      padding: 10px;

      .show-incident-list
      {
        margin-right: 10px;
      }

      .mobile-incident-list-container.active
      {
        display: block;
        transition: 1s;

        .mobile-incident-list
        {
          max-height: 30vh;
          overflow-y: auto;

          li
          {
            display: inline-block;
            width: 49%;
          }
        }

        .closebtn
        {
          font-size: 40px;
          position: absolute;
          right: 30px;
          text-decoration: none;
          top: 70px;
        }
      }
    }

    .list-container
    {
      display: none;
    }

    .map-container
    {
      width: 100%;

      #map
      {
        height: 90vh;
      }
    }
  }
}