<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Traffic Map</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" type="text/css" href="scss/main.scss">
</head>

<body>
  <div class="app-container">
    <div class="main-container">
      <div class="list-container">
        <div class="list-header">
          <h3>Incident List - <span id="incident-count"></span></h3>
          <button id="find" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" type="button" onclick="getLocation()">
            <i class="material-icons">my_location</i>
          </button>
        </div>

        <ul class="incident-list mdl-list"></ul>
      </div>

      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var allIncidents = <%- JSON.stringify(incidents) %>
  </script>
  <script type="text/javascript" src="public/map.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXxEb1l02mt4btbGJmyC0iBCaYNKXhEB8&callback=initMap"></script>
</body>
</html>